{% extends 'base.html' %}


{% block body %}
<div class="container">
    <h1 class="text-center mt-5">Perfil de {{ current_user.username }}</h1>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <div class="image me-3">
                    <img src="{{ foto_perfil }}" alt="Foto do perfil" class="rounded" width="150">
                </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0 text-center">{{ current_user.username }}</h4>
                    <span>{{current_user.email}}</span>
                    <div class="p-2 mt-2 bg-dark d-flex justify-content-around rounded text-white stats">
                        <div class="d-flex flex-column">
                            <span class="articles fs-4 text-center">Posts</span>
                            <span class="number1 text-center">0</span>
                        </div>
                    </div>
                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <a class="w-100" href="{{url_for('editar_perfil')}}">
                            <button class="btn btn-sm btn-dark w-100 ml-2">Editar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block from_editar_perfil %}
{% endblock %}
{% endblock %}
